$inter-font: "Inter", serif;
$poppins-font: "Poppins", serif;
$primary-color: #1E88E5;
$secondary-color: #FF6F61;
$accent-color: #FFC107;
$danger-color: #ED1B24;
$dark-color: #121212;
$bg-color: #F9F9F9;
$border-color: #C0C0C0;
$border-hover-color: #808080;
$text-color: #333333;
