@use "../../../variables" as *;
@use "../../../responsive" as *;

.most-liked-section {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $border-color;

  .container {
    height: 100%;
  }
}